{% extends 'admin/index.html' %}
{% block body %}
<div>
    <div class="card">
        <div class="card__image">
            <img src={{image_file}} alt="">
        </div>
        <div class="card__contacts">
            <h1>員工資訊</h1>
            <div class="card__info">
                <table>
                    <tr>
                        <td class="l-grey">姓名</td>
                        <td class="pl-md">{{name}}</td>
                    </tr>
                    <tr>
                        <td class="l-grey">職位</td>
                        <td class="pl-md">{{position}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card-right">
        <div class="card__contacts">
            <h1>我的領用單</h1>
            <div style="text-align:center;">
                <form method="post">
                    <table  align="center"
                    cellpadding="10" border='3'>
                        <tr>
                            <th>領用單編號</th>
                            <th>工作</th>
                            <th>領用日期</th>
                            <th>預計歸還日期</th>
                            <th>器材數目</th>
                            
                            <th>開啟領用單</th>
                            
                        </tr>
                        {% for row in orders %}
                        <tr>
                            <td> {{ row.order_id }}</td>
                            <td> {{ row.job_name }}</td>
                            <td> 領用日期</td>
                            <td> 歸還日期</td>
                            <td> {{ row.equip_count }}</td>
                            
                            <!--更多資訊連到該筆領用單的明細-->
                            <td><a href="order/{{row.order_id}}"><button type="button">開啟領用單</button></a></td>
                        <!-- 傳遞商品編號 -->
                        </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card {
    float:left;
    width: 30%;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.card-right {
    min-height:536px;
    float:left;
    width: 70%;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.card__image img {
    width: 100%;
    display: block;
}

.card__contacts {
    padding: 20px
}

.card__contacts h1 {
    margin-bottom: 30px;
}

table td {
    padding: 5px;
}

.card__icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.icon {
    padding: 15px;
}
/* Utilities */

.l-grey {
    color: #ccc;
}

.d-grey {
    color: #999;
}
.pl-md {
    padding-left: 30px
}
</style>
{% endblock %}