{% extends 'admin/index.html' %}
{% block body %}
<div>
    <div class="card">
        <div class="card__image">
            <img src={{image_file}} alt="">
        </div>
        <div class="card__contacts">
            <h1>員工資訊</h1>
            <div class="card__info">
                <table>
                    <tr>
                        <td class="l-grey">姓名</td>
                        <td class="pl-md">{{name}}</td>
                    </tr>
                    <tr>
                        <td class="l-grey">職位</td>
                        <td class="pl-md">{{position}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card-right">
        <div class="card__contacts">
            <span>
                <h1 style="float:left;">我的領用單</h1>
                <a style="float:right;" href="new_order">
                    <button type="button" class="btn">新增</button>
                </a>
            </span>
            <div style="text-align:center;">
                <form method="post">
                    <table  align="center"
                    cellpadding="10" border='3' style="width:100%;">
                        <tr>
                            <th style="width:100px;text-align:center;">領用單編號</th>
                            <th style="width:120px;text-align:left;">工作</th>
                            <th style="width:auto;text-align:left;">領用事由</th>
                            <th style="width:100px;text-align:center;">領用日期</th>
                            <th style="width:100px;text-align:center;">歸還日期</th>
                            <th style="width:80px;text-align:center;">器材數量</th>
                            <th style="width:60px;text-align:center;">操作</th>
                        </tr>
                        {% for row in orders %}
                        <tr>
                            <td> {{ row.領用單編號 }}</td>
                            <td  style="text-align:left;"> {{ row.所屬工作 }}</td>
                            <td> {{ row.領用事由 }}</td>
                            <td> {{ row.領用日期 }}</td>
                            <td> {{ row.歸還日期 }}</td>
                            <td> {{ row.領用數量 }}</td>
                            
                            <!--更多資訊連到該筆領用單的明細-->
                            <td><a href="order/{{row.領用單編號}}"><button type="button" class="btn">開啟</button></a></td>
                        <!-- 傳遞商品編號 -->
                        </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card {
    float:left;
    width: 30%;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.card-right {
    min-height:536px;
    float:left;
    width: 70%;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.card__image img {
    width: 100%;
    display: block;
}

.card__contacts {
    padding: 20px
}

.card__contacts h1 {
    margin-bottom: 30px;
}

table td {
    padding: 5px;
}

.card__icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.icon {
    padding: 15px;
}
/* Utilities */

.l-grey {
    color: #ccc;
}

.d-grey {
    color: #999;
}
.pl-md {
    padding-left: 30px
}
.btn{
    width: 70px;
    height: 30px;
    font-size: 14px;
    background-color: #97A38D;
    color:white;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}
</style>
{% endblock %}